#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

:root {
  --tile-size: 8rem;
}

.board {
  display: grid;
  background-color: #bbada0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
  width: calc(var(--tile-size) * 4 + 6rem);
  height: calc(var(--tile-size) * 4 + 6rem);
  border-radius: 5px;
}

.tile {
  border-radius: 5px;
  width: var(--tile-size);
  height: var(--tile-size);
  background-color: #cdc1b4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #cdc1b4;
  /* color: red; */
}

.active {
  background-color: #eee4da;
}

.pow1 {
  background-color: #eee4da;
  color: #cdc1b4;
}

.pow2 {
  background-color: #eee1c9;
  color: #cdc1b4;
}

.pow3 {
  color: #f9f6f2;
  background: #f3b27a;
}

.pow4 {
  color: #f9f6f2;
  background: #f69664;
}

.pow5 {
  color: #f9f6f2;
  background: #f77c5f;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
